@model IEnumerable<Aphroditus.Models.PostsViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container d-flex justify-content-center">

    <div class="col-md-8 col-md-offset-2">
    
        <h1>My Art</h1>

        <p>Below you'll fint a collection of my artwork. Click the image for a bigger copy.</p>

        @foreach (var item in Model) {

            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <img class="img-fluid mx-auto d-block" src="@Html.DisplayFor(modelItem => item.FullPath)" alt="My Glorious art image.">
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p class="text-muted">@Html.DisplayNameFor(modelItem => item.PostDate): @Html.DisplayFor(modelItem => item.PostDate)</p>

        }

    </div>
</div>
